body {
  background-color: #fafafa;
}

h1 {
  color: #b71c1c;
  font-size: 36px;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--num), 1fr);
  grid-template-rows: repeat(var(--num), 1fr);

  width: 960px;
  height: 960px;
}

.cell {
  background-color: #fafafa;
  border: 1px solid black;
}

button {
  background-color: #4caf50;
  border: none;
  color: #b71c1c;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}
