#container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(960px / var(--num)), 1fr)
  );
  grid-template-rows: repeat(auto-fit, minmax(calc(960px / var(--num)), 1fr));
  max-width: 960px;
  width: 100%;
  height: 100%;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: bisque;
  border: 1px solid black;
}
