#container {
  display: grid;
  grid-template-columns: repeat(var(--num), 1fr);
  grid-template-rows: repeat(var(--num), 1fr);

  width: 960px;
  height: 960px;
}

.cell {
  background-color: bisque;
  border: 1px solid black;
}
